@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS reset start */

*,
*::before,
*::after {
    /* border box that don't make me want to set myself on fire */
    box-sizing: border-box;
}

* {
    /* remove default margin */
    margin: 0;
}

body {
    /* accessible line-height WCAG criteria minimum */
    line-height: 1.5;
    /* text rendering */
    -webkit-font-smoothing: antialiased;
    /* overflow lateral */
    overflow-x: hidden;
}

img,
picture,
video,
canvas,
svg {
    /* media defaults */
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    /* remove built-in form typography styles */
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    /* avoid text overflows */
    overflow-wrap: break-word;
}

a {
    text-decoration: none;
    color: #000;
}

#root,
#__next {
    /* create a root stacking context, needed because of React */
    isolation: isolate;
}

/* CSS reset end */

:root {
    --color-bg: hsl(207, 95%, 10%);
    --color-txt: #FDFFFC;

    --color-primary: #2EC4B6;
    --color-secondary-500: #e9b824;
    --color-secondary-700: #FF9F1C;
    --color-secondary-900: #d83f31;
}

body {
    color: var(--color-txt);
    background-color: var(--color-bg)
}

.title {
    padding: 3rem;
}